/*
 * Default Admin Style
 */

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}
@media (min-width: 1500px) {
    .container {
        width: 1470px;
    }
}
.navbar-right {
    margin-right:0 !important;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

h1 {
    margin-bottom:20px;
}

.panel .tab-content {
    padding:20px 10px;
}

.inline-choice-label {
    cursor:pointer;
    font-weight:normal;
}
.inline-choice-label input {
    position:relative;
    top:2px;
    margin-right:5px;
}

.form-group .twitter-typeahead, .form-group .bootstrap-tagsinput {
    display:block !important;
    margin-bottom:0;
}
.form-group .bootstrap-tagsinput.error {
    border:1px solid red;
}

.page-head {
    margin-bottom:20px;
}
.page-head .page-head-actions {
    padding-top:20px;
    padding-right:0;
}
.page-head .page-head-actions a {
    float:right;
    margin-left:10px;
}

#body-wrapper {
    padding-top:75px;
    color:#333;
}

#main-header {
    color:#333;
}
#main-header .site-logo {
    margin-top:30px;
    display:inline-block;
}

#main-footer {
    margin-top:20px;
    height:40px;
    color:#FFFFFF;
    background:#ad1d28;
    border-top:1px solid #911821;
}
#main-footer .container {
    text-align:center;
    padding-top:9px;
}

#page .page-wrapper {
    background:#fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:20px;
}

.input-attachment-msg {
    margin-top:-10px;
    font-style:italic;
}

.inline-choice {
    cursor:pointer;
    margin-right:20px;
    font-weight:normal;
}
.panel .form-actions {
    padding:0 25px;
}

form input.error {
    border:1px solid red;
}
form label.error, form input.error {
    color:red;
}

.no-padding {
    padding:0;
}
.no-margin {
    margin:0;
}
.no-padding-form {
    padding-left:0;
    padding-right:0;
}
.form-title {
    margin-bottom:25px;
}
.no-resize {
    resize:none;
}
input.selected-file {
    font-style:italic;
}

.form-group-empty {
    height:74px;
}

.dynamic-list {
    margin-bottom:20px;
}
.dynamic-list .row {
    height:30px;
    line-height:30px;
    margin:0;
    background:#EAEAEA;
    border-bottom:1px solid #EEE;
}
.dynamic-list .row:hover {
    background:#EEE;
}
.dynamic-list .row label {
    display:block;
    cursor:pointer;
}
.dynamic-list .row input {
    position:relative;
    top:2px;
    margin:0 5px 0 10px;
}

.tmpl-item {
    padding:10px 0;
    margin-bottom:10px;
    border:1px solid #FFF;
}
.tmpl-item:hover {
    background:#EEE;
    border:1px solid #CCC;
}
.tmpl-item .form-group input.form-control,
.tmpl-item .form-group textarea.form-control {
    margin-top:5px;
}


#dashboard-widgets {
    padding-top:10px;
}
#dashboard-widgets .dashboard-widget-holder {
    padding:0 10px;
}
#dashboard-widgets .panel {
    margin-bottom:10px;
}
#dashboard-widgets .dashboard-widget-item .panel-heading {
    font-weight:bold;
}
#dashboard-widgets .dashboard-widget-item .panel-footer {
    padding:3px 15px;
    font-size:12px;
    font-style:italic;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.bootstrap-tagsinput .dropdown-menu {
    font-size:14px;
}

#main-header .navbar-right {
    display:none;
}

.form-actions {
    background:#F2F2F2;
    border-top:1px solid #CCC;
    margin:-40px -20px -20px -20px;
    padding:20px 45px;
}

@media(min-width:950px) {
    #main-header .navbar-right {
        display:block !important;
    }
}
@media(max-width:650px) {
    #body-wrapper {
        padding-top:51px !important;
        margin-top:0 !important;
    }
    #body-wrapper .container {
        width:100%;
        padding:0;
    }
    #body-wrapper .container .page-wrapper {
        margin:0;
        border:0;
        border-radius:0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
    }
    .page-head-actions {
        padding-top:0 !important;
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .page-head h1 {
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .page-head-actions a {
        float:left !important;
        margin-right:10px;
        margin-left:0 !important;
    }
    #main-footer {
        margin-top:0px;
    }
}