/*
 * Default Admin Theme
 */

@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
    font-family: "Cabin", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #ffffff;
    background:#EEE;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lobster',cursive;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-default .navbar-brand {
    font-family: 'Lobster', cursive;
}

/* Dropdown Menu */

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #444;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #15b5c1;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #15b5c1;
    outline: 0;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}

.navbar-default {
    background-color: #ad1d28;
    border-color: #911821;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #d92432;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #d92432;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #FFFFFF;
    background-color: #d92432;
}

@media (max-width:768px) {
    .navbar-default .navbar-toggle {
        outline:none;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background:#911821;
    }
    .navbar-default .navbar-toggle .icon-bar {
        color:#911821;
    }

    .navbar-default .navbar-nav .dropdown-menu li a {
        color:#FFFFFF !important;
    }
    .navbar-default .navbar-nav .dropdown-menu>ul {
        padding-left:5px;
    }
    .navbar-default .navbar-nav .dropdown-menu li ul {
        padding-left:10px;
    }
    .navbar-default .navbar-nav .dropdown-menu li a {
        line-height: 1.428571429;
    }
    .navbar-default .navbar-nav .dropdown-menu li a:hover {
        background: #d92432 !important;
    }
    .navbar-default .navbar-nav .dropdown-menu .active>a {
        background: #d92432 !important;
    }
}


/* Buttons */

.btn-default {
    color: #444444;
    background-color: #DDDDDD;
    border-color: #DDDDDD;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #444444;
    background-color: #C9C9C9;
    border-color: #BEBEBE;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #DDDDDD;
    border-color: #DDDDDD;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #AD1D28;
    border-color: #AD1D28;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #8A1720;
    border-color: #79141C;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #AD1D28;
    border-color: #AD1D28;
}

.btn-warning {
    color: #FFFFFF;
    background-color: #DEBB27;
    border-color: #DEBB27;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    color: #FFFFFF;
    background-color: #BFA01D;
    border-color: #DA911A;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #FFFFFF;
    border-color: #DEBB27;
}

.btn-danger {
    color: #FFFFFF;
    background-color: #DF6E1E;
    border-color: #DF6E1E;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color: #FFFFFF;
    background-color: #BB5C19;
    border-color: #A95317;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #DF6E1E;
    border-color: #DF6E1E;
}

.btn-success {
    color: #FFFFFF;
    background-color: #48CA3b;
    border-color: #48CA3b;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #FFFFFF;
    background-color: #3AAD2F;
    border-color: #359D2B;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #48CA3b;
    border-color: #48CA3b;
}